In [2]:
import pandas as pd
import numpy as np
import string
import time
import pickle
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB

In [3]:
def comments_preprocessing(df):
    df['comment_text'] = df['comment_text'].apply(lambda x: str(x))
    df['comment_text'] = df['comment_text'].apply(lambda x: x.lower())
    df['comment_text'] = df['comment_text'].apply(lambda x: x.translate(str.maketrans('','',string.punctuation)))
    df['comment_text'] = df['comment_text'].apply(lambda x: x.replace('\n',''))
    df['comment_text'] = df['comment_text'].apply(lambda x: x.replace('\r',''))
    return df

In [4]:
train = pd.read_csv('data/train.csv')
train = comments_preprocessing(train)
test = pd.read_csv('data/test.csv')
test = comments_preprocessing(test)

print('train shape', train.shape)
print('test shape', test.shape)
train.head()
test.head()

train shape (95851, 8)
test shape (226998, 2)

         id                                       comment_text
0   6044863  orphaned nonfree media image41cd1jboevl ss500 jpg
1   6102620  kentuckiana is colloquial  even though the are...
2  14563293  hello fellow wikipediansi have just modified  ...
3  21086297  akc suspensions the morning call  feb 24 2001 ...
4  22982444                                wikilink talkcelts

In [5]:
categories = train.columns.values.tolist()[2:]
toxic_dataframes = [train[train[x] == 1] for x in categories]
print(categories)

['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']

In [13]:
predictions = pd.DataFrame({'id': test['id']})
prob_predictions = pd.DataFrame({'id':test['id']})

for i, name in enumerate(categories):
    print(name, toxic_dataframes[i].shape)
    clf = Pipeline([('tfidf', TfidfVectorizer(stop_words='english')), ('mnb', MultinomialNB(alpha=1.0))])
    clf.fit(train['comment_text'], train[name])
    pred = clf.predict(test['comment_text'])
    pred2 = clf.predict_proba(test['comment_text'])
    predictions[name] = pred
    prob_predictions[name] = pred2.max(axis=1)

print('predictions shape', predictions.shape)
predictions.head(20)
print('prob_predictions shape', prob_predictions.shape)
prob_predictions.head(20)

toxic (9237, 8)
severe_toxic (965, 8)
obscene (5109, 8)
threat (305, 8)
insult (4765, 8)
identity_hate (814, 8)
predictions shape (226998, 7)
prob_predictions shape (226998, 7)

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,6044863,0.996024,0.999721,0.997932,0.999919,0.998408,0.999783
1,6102620,0.999912,1.000000,0.999990,1.000000,0.999991,1.000000
2,14563293,0.999995,1.000000,1.000000,1.000000,1.000000,1.000000
3,21086297,0.983193,0.999541,0.995921,0.999863,0.996742,0.999653
4,22982444,0.975993,0.997222,0.986045,0.999116,0.986924,0.997658
5,24388733,0.998508,0.999962,0.999447,0.999990,0.999544,0.999967
6,26195914,0.999991,1.000000,0.999999,1.000000,0.999999,1.000000
7,31769073,0.995183,0.999948,0.998262,0.999988,0.998760,0.999946
8,35289443,0.995577,0.999971,0.999020,0.999993,0.999163,0.999976
9,38393350,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
10,51720630,0.998675,0.999999,0.999818,1.000000,0.999821,0.999999
11,52808210,0.998659,1.000000,0.999854,1.000000,0.999932,1.000000
12,53780387,0.960075,0.999332,0.987036,0.999788,0.991793,0.999360
13,55969236,0.999712,0.999996,0.999928,0.999999,0.999940,0.999995
14,59321043,0.999897,1.000000,0.999997,1.000000,0.999998,1.000000
15,59993753,0.999977,1.000000,0.999996,1.000000,0.999997,1.000000
16,60087415,0.999993,1.000000,1.000000,1.000000,1.000000,1.000000
17,62246374,0.989223,0.999971,0.998210,0.999996,0.998520,0.999967
18,63082469,0.997588,0.999979,0.999472,0.999996,0.999500,0.999984
19,66675140,0.999164,1.000000,0.999917,1.000000,0.999934,1.000000

In [14]:
print(prob_predictions)

                  id     toxic  severe_toxic   obscene    threat    insult  \
0            6044863  0.996024      0.999721  0.997932  0.999919  0.998408
1            6102620  0.999912      1.000000  0.999990  1.000000  0.999991
2           14563293  0.999995      1.000000  1.000000  1.000000  1.000000
3           21086297  0.983193      0.999541  0.995921  0.999863  0.996742
4           22982444  0.975993      0.997222  0.986045  0.999116  0.986924
5           24388733  0.998508      0.999962  0.999447  0.999990  0.999544
6           26195914  0.999991      1.000000  0.999999  1.000000  0.999999
7           31769073  0.995183      0.999948  0.998262  0.999988  0.998760
8           35289443  0.995577      0.999971  0.999020  0.999993  0.999163
9           38393350  1.000000      1.000000  1.000000  1.000000  1.000000
10          51720630  0.998675      0.999999  0.999818  1.000000  0.999821
11          52808210  0.998659      1.000000  0.999854  1.000000  0.999932
12          53780387  0.960075      0.999332  0.987036  0.999788  0.991793
13          55969236  0.999712      0.999996  0.999928  0.999999  0.999940
14          59321043  0.999897      1.000000  0.999997  1.000000  0.999998
15          59993753  0.999977      1.000000  0.999996  1.000000  0.999997
16          60087415  0.999993      1.000000  1.000000  1.000000  1.000000
17          62246374  0.989223      0.999971  0.998210  0.999996  0.998520
18          63082469  0.997588      0.999979  0.999472  0.999996  0.999500
19          66675140  0.999164      1.000000  0.999917  1.000000  0.999934
20          68336055  0.999392      1.000000  0.999976  1.000000  0.999987
21          70790434  0.999824      1.000000  0.999979  1.000000  0.999988
22          71559114  0.998564      0.999998  0.999848  1.000000  0.999880
23          72407499  0.999992      1.000000  0.999999  1.000000  0.999999
24          75557079  0.944304      0.995220  0.973637  0.998470  0.977802
25          75694081  0.999284      0.999997  0.999837  0.999999  0.999887
26          82999985  0.999473      0.999998  0.999907  1.000000  0.999930
27          84135100  0.998663      0.999959  0.999417  0.999988  0.999468
28          88993345  0.993241      0.999927  0.998176  0.999979  0.998640
29          90125467  0.996827      0.999954  0.999051  0.999991  0.999349
...              ...       ...           ...       ...       ...       ...
226968  999890906666  0.999960      1.000000  0.999997  1.000000  0.999998
226969  999891110310  0.997573      0.999838  0.998758  0.999947  0.998991
226970  999901299717  0.997750      0.999970  0.999296  0.999992  0.999507
226971  999902107116  0.999671      1.000000  0.999960  1.000000  0.999975
226972  999902754612  0.999948      1.000000  0.999996  1.000000  0.999997
226973  999904175486  0.999896      1.000000  0.999988  1.000000  0.999991
226974  999905240338  0.999319      0.999999  0.999950  1.000000  0.999949
226975  999906741497  0.999069      0.999994  0.999785  0.999999  0.999840
226976  999911717743  0.997773      0.999990  0.999373  0.999998  0.999658
226977  999918907071  0.968865      0.997090  0.983523  0.999070  0.983812
226978  999920895395  1.000000      1.000000  1.000000  1.000000  1.000000
226979  999921181305  0.996646      0.999996  0.999535  1.000000  0.999693
226980  999921616383  0.985876      0.999974  0.997273  0.999997  0.997580
226981  999924773922  0.999295      0.999992  0.999761  0.999998  0.999847
226982  999927268950  0.999942      1.000000  0.999997  1.000000  0.999998
226983  999937028166  1.000000      1.000000  1.000000  1.000000  1.000000
226984  999939655437  0.999993      1.000000  1.000000  1.000000  1.000000
226985  999941555776  0.989724      0.999725  0.995981  0.999940  0.996329
226986  999942678927  0.999992      1.000000  0.999999  1.000000  0.999999
226987  999943838330  0.998928      0.999988  0.999570  0.999997  0.999764
226988  999956516304  0.895560      0.986964  0.937120  0.995823  0.940897
226989  999960677672  0.999731      0.999999  0.999961  1.000000  0.999968
226990  999963214716  0.999997      1.000000  1.000000  1.000000  1.000000
226991  999964222196  0.999930      1.000000  0.999991  1.000000  0.999993
226992  999964949747  0.999997      1.000000  1.000000  1.000000  1.000000
226993  999966872214  0.914935      0.989580  0.949222  0.996667  0.952309
226994  999968525410  0.999877      1.000000  0.999977  1.000000  0.999983
226995  999980053494  0.998657      0.999971  0.999385  0.999992  0.999611
226996  999980680364  0.976768      0.997552  0.986747  0.999291  0.988470
226997  999997819802  0.999987      1.000000  0.999999  1.000000  0.999999

        identity_hate
0            0.999783
1            1.000000
2            1.000000
3            0.999653
4            0.997658
5            0.999967
6            1.000000
7            0.999946
8            0.999976
9            1.000000
10           0.999999
11           1.000000
12           0.999360
13           0.999995
14           1.000000
15           1.000000
16           1.000000
17           0.999967
18           0.999984
19           1.000000
20           1.000000
21           1.000000
22           0.999999
23           1.000000
24           0.995967
25           0.999997
26           0.999999
27           0.999964
28           0.999912
29           0.999972
...               ...
226968       1.000000
226969       0.999870
226970       0.999977
226971       1.000000
226972       1.000000
226973       1.000000
226974       0.999999
226975       0.999995
226976       0.999991
226977       0.997164
226978       1.000000
226979       0.999997
226980       0.999982
226981       0.999991
226982       1.000000
226983       1.000000
226984       1.000000
226985       0.999775
226986       1.000000
226987       0.999985
226988       0.988991
226989       0.999999
226990       1.000000
226991       1.000000
226992       1.000000
226993       0.991204
226994       1.000000
226995       0.999967
226996       0.997935
226997       1.000000

[226998 rows x 7 columns]